/*Logo styling*/
.loginLeft {
  flex: 1;
  display: flex;
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url("../../assets/Images/login/home-phones.png");
  min-width: 460px;
  background-repeat: no-repeat;
  background-position: right 2px;
  margin-top: 4rem;
  @media (max-width: 877px) {
    flex: 1;
    display: none;
  }
}

.mySlides {
  position: absolute;
  top: 29px;
  left: 15rem;
}

.image {
  width: 100%;
  height: auto;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.image {
  width: 100%;
  height: auto;
}
