/* forgotPassword.css */
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.PasswordContainer {
  width: 100%;
  max-width: 360px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  padding: 20px 40px;
  margin: 0 20px;
  text-align: center;
}

.password-reset-box {
  margin-bottom: 10px;
}

.resetLogo img {
  margin-top: 12px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.info {
  line-height: 18px;
  margin-bottom: 20px;
  margin-top: 1rem;
}

.info_1 {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 8px;
}

.info_2 {
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 1.3rem;
  color: #666666;
}

.password-reset-form {
  display: flex;
  flex-direction: column;
}

.password-reset-form input {
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 9px;
  margin-bottom: 6px;
  font-size: 14px;
}

.formBtn {
  background-color: #3897f0;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

.infoForgot {
  display: block;
  color: #00376b;
  font-size: 12px;
  margin-top: 12px;
  text-decoration: none;
}

.contour {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #dbdbdb;
}

.or {
  color: #8e8e8e;
  margin: 0 18px;
  font-size: 13px;
  font-weight: 600;
}

.back-login {
  border: 1px solid #dbdbdb;
  background-color: whitesmoke;
  position: relative;
  top: 1.9rem;
  right: 2.5rem;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 358px;
  margin: 20px auto 0;
}

.create-user,
.back-login {
  margin-top: 20px;
}

.create-user a,
.back-login a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.create-user a:hover,
.back-login a:hover {
  color: gray;
  cursor: pointer;
}
